%h1 Sign up
= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :email
    = f.text_field :email
  .field &nbsp;
  .field
    = f.label :password
    = f.password_field :password
  .field
    = f.label :password_confirmation, 'Confirm'
    = f.password_field :password_confirmation
  .actions
    = f.submit "Sign up"
%h1.flip Don't need to sign up?
= render :partial => "devise/shared/links"
