%h1 Today's Open Orders

%table
  %tr
    %th Orderer
    %th Restaurant
    %th Items
    %th.number Total
    %th
    %th

  - @orders.each do |order|
    %tr{ :class => cycle('even', 'odd') }
      %td= order.orderer.name
      %td= order.restaurant.name
      %td= order.items.collect(&:name).uniq.join(', ')
      %td.number= number_to_currency order.expected_cost
      %td.control= link_to 'Accept', edit_order_path(order)
      - if order.orderer == current_user
        %td.control= link_to 'Cancel', order, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'Place an order', new_order_path
