%h1 Listing orders

%table
  %tr
    %th Orderer
    %th Fulfiller
    %th Date
    %th
    %th
    %th

  - @orders.each do |order|
    %tr
      %td= order.orderer_id
      %td= order.fulfiller_id
      %td= order.date
      %td= link_to 'Show', order
      %td= link_to 'Edit', edit_order_path(order)
      %td= link_to 'Destroy', order, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New order', new_order_path
