%h1 Today's Open Orders

%table
  %tr
    %th Orderer
    %th Restaurant
    %th Items
    %th
    %th

  - @orders.each do |order|
    %tr
      %td= order.orderer.name
      %td= order.items.collect(&:restaurant).collect(&:name).uniq.join(', ')
      %td= order.items.collect(&:name).uniq.join(', ')
      %td= link_to 'Accept', edit_order_path(order)
      %td= link_to 'Destroy', order, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New order', new_order_path
