:javascript
  $(function(){
    $('.restaurant').bind('click', function(event){
      event.stopPropagation();
      event.preventDefault();
      var restaurant_url = $(this).find('a').attr('href');
      var restaurant_name = $(this).find('p.title').text();
      $.get(restaurant_url, function(data){
        var items_html = $(data).find('.restaurant_items')
        items_html.find('tr').each(function(){
          var item_id = $(this).attr('id').split('_').pop();
          $(this).prepend('<td class="checkbox"><input name="order[item_ids][]" value="'+item_id+'" type="checkbox"></input></td>');
        });
        $('#restaurants').hide()
        $('.content h1').append(' from ' + restaurant_name);
        $('#order_submit').removeAttr('disabled');
        $('#items').append(items_html).show();
      });
    });
  });

%h1 New order
= form_for @order do |f|
  .field
    = f.label :date, "Order for"
    = text_field_tag :date_string, @order.date.try(:strftime, '%b %d, %Y') || 'today'
  #restaurants
    %p.big.label Order from
    %ul.block_links
      - Restaurant.all.each do |restaurant|
        %li[restaurant]
          = link_to restaurant do
            %p.title= restaurant.name
            %p.info= pluralize(restaurant.items.length, 'menu item')
  #items{ :style => 'display:none;'}
    %p.big.label Choose items
  -if @order.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@order.errors.count, "error")} prohibited this order from being saved:"
      %ul
        - @order.errors.full_messages.each do |msg|
          %li= msg

  = f.hidden_field :orderer_id
  .actions
    = f.submit 'Save', :id => 'order_submit', :disabled => true
