%p
  %b Ordered by:
  = @order.orderer.name
%p
  %b Accepted by:
  = @order.fulfiller.nil? ? 'nobody' : @order.fulfiller.name
%p
  %b Items:
  %ul
    - @order.items.each do |item|
      %li
        = item.name
%p
  %b Date:
  = @order.date

= link_to 'Edit', edit_order_path(@order)
\|
= link_to 'Back', orders_path
