= form_for @ordered_item do |f|
  -if @ordered_item.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@ordered_item.errors.count, "error")} prohibited this ordered_item from being saved:"
      %ul
        - @ordered_item.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :order
    = f.text_field :order
  .field
    = f.label :item
    = f.text_field :item
  .actions
    = f.submit 'Save'
