%h1= @restaurant.name

%table.restaurant_items
  - @restaurant.items.sort.each do |item|
    %tr[item]{ :class => cycle('even', 'odd') }
      %td.name= link_to item.name, edit_restaurant_item_path(@restaurant, item)
      %td.cost= number_to_currency item.cost

.add_new
  .big
    = link_to 'Add an item', new_restaurant_item_path(@restaurant), :class => 'new_link'
    %span.separate= '|'
    = link_to 'Edit this restaurant', edit_restaurant_path(@restaurant)
