%h1= @restaurant.name

%table.restaurant_items
  - @restaurant.items.each do |item|
    %tr[item]{ :class => cycle('even', 'odd') }
      %td.name= link_to item.name, edit_restaurant_item_path(@restaurant, item)
      %td.cost= number_to_currency item.cost

.add_new
  = link_to 'Add an item', new_restaurant_item_path(@restaurant), :class => 'new_link'

= link_to 'Edit', edit_restaurant_path(@restaurant)
\|
= link_to 'Back', restaurants_path
