%p
  %b Payer:
  = @payment.payer_id
%p
  %b Recipient:
  = @payment.recipient_id
%p
  %b Amount:
  = @payment.amount

= link_to 'Edit', edit_payment_path(@payment)
\|
= link_to 'Back', payments_path
