= form_for [:restaurant, @item] do |f|
  -if @item.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@item.errors.count, "error")} prohibited this item from being saved:"
      %ul
        - @item.errors.full_messages.each do |msg|
          %li= msg

  = f.hidden_field :restaurant_id
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :cost
    = f.text_field :cost
  .actions
    = f.submit 'Save'
