%head
  %title Lunch Haus
  = stylesheet_link_tag 'application'
  = javascript_include_tag :defaults
  = csrf_meta_tag

%body
  .top_bar
    - if user_signed_in?
      .logged_in
        %p.user Hello, #{current_user.name}
        = link_to "log out", destroy_user_session_path
    - else
      .log_in
        = link_to "log in", new_user_session_path


  .main_title
    %h1
      %a{ :href => '/' }
        - precede 'Lunch' do
          %strong Haus
      - if @title
        %span.arrow
          &raquo;
        = @title
  .content
    = yield

